/*

Template 2089 Meteor

http://www.tooplate.com/view/2089-meteor

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,700i,900,900i&display=swap');


* {
    margin: 0;
    padding: 0;
}

html, body {
	overflow-x: hidden;
}

ul {
	list-style: none;
	font-family: 'Montserrat' sans-serif; 
	font-weight: 600;
}
p {
	color: #878484;
	font-size: 15px;
	letter-spacing: 0.25px;
	line-height: 30px;
	font-family: 'Montserrat' sans-serif; 
	font-weight: 600;
}


.section-heading h3 {
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	color: #1B1D1F;
	margin: 60px 0 0;
}

.social2 a:hover {
	color : #676767;
}


* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
	padding: 32px 0;
    background-color: none;
    border: 10px solid #EEF1F3; 
    height: 320px;
    /* Should be removed. Only for demonstration */
}

.column h2 {
	margin-top: 10px;
	font-size: 20px;
	text-align: left;
	font-weight: 600;
	margin-left: 10px;
}

/*.column ul {
    padding: 25px 30px;
}

.column li {
    color: #1B1D1F;
    line-height: 2;
    font-size: 13px;
}*/

.column p {
    padding: 25px 20px;
    text-align: left;
    font-size: 13px;
    line-height: 2;
}

.section-heading h2 {
color: #1B1D1F;
}

.section-heading ul li {
color: #1B1D1F;
text-align: left;
padding-left: 120px; 
}

.border_img {
	float: left;
	margin-left: -60px;
}

.border_img img {
	width: auto;
	height: 160px;
	padding: 15px 10px;
	background-color: #fff;
}

.section-heading .line-dec {
	width: 60px;
	height: 4px;
	background-color: #FFD200;
	margin: 15px auto 35px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color:#1B1D1F;  
    
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a {
	color: #FFF!important;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li {
	margin-left: 45px;
}

.header.active .navbar-nav>li>a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: none;
	color: #fff!important;
}

.header.active {
    background-color: #1B1D1F;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand .logo{
	margin-top: 22px;
	background-image: url(../img/black_logo.png);
	display: inline-block;
	width: 145px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 140px 38px;
}
.header.active .navbar-brand .logo{
	margin-top: 22px;
	background-image: url(../img/black_logo.png);
	display: inline-block;
	width: 145px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 140px 38px;
}
#main-nav {
	background-color: transparent;
	background-image: none!important;
}
.header .navbar-brand {
    font-weight: 900;
}
.navbar-inverse {
	background-image: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
}
.page-section {
    padding:  0;
}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
    border-color: #8dcacf;
    background-color: #8dcacf;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #3e86af;
}
bootstrap.min.css:5
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}
@media (max-width: 576px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }

    .border_img {
		margin-left: -45px;
	}
	
	.border_img img {
		width: auto;
		height: 120px;
	}

	.column {
		padding: 5px 0px;
		margin-bottom: 10px;
	}

	.column p {
	    padding: 25px 20px;
	    text-align: left;
	    font-size: 12px;
	    line-height: 2;
	}
}

#about {
	background-color: none;
	text-align: center;
	margin-top: 150px; 
	padding: 40px 0 30px;
}

#aboutus h2 {
	font-size: 45px;
	font-weight: 700;
}

#aboutus p {
	color: #676767;
	/*padding: 20px 35px 0 35px; */
	text-align: center; 
	font-size: 18px;
	font-weight: 500;
}

#aboutus button {
	background-color: #05c8a1;
	text-align: center;
	transition: all 0.7s;
	height: 60px;
	width: 220px;
	color: #fff;
	font-weight: 700;
	font-size: 19px;
	margin-top: 25px;
	border: none;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file {

}


label {
	border: 3px solid #C7C7C747;
	width: 640px;
	height: 180px;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #C7C7C7;
    display: inline-block;
    padding: 80px 0px 0px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border: 3px solid #C7C7C7;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


/* CONTACT US */


/* RESPONSIVE */

@media (max-width: 767px){
	#main-nav {
		border-color: rgba(250, 250, 250, 0.95);
		margin-top: 10px;
		width: 380px;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 5px 10px #cdcdcd;
	}
	.navbar-nav {
		padding: 0px;
		margin-top: 0px;
		margin-top: 0px;
	}
	.navbar-nav>li {
		margin-left: 0px;
		border-bottom: 1px solid #eee;
	}
	.navbar-nav>li:last-child {
		border-bottom: none;
	}
	.navbar-nav>li>a {
		line-height: 50px;
		color: #121212!important;
	}
}

@media (max-width: 768px){
	.cd-hero .slide-caption span {
		font-size: 13px;
	}

	.cd-hero .slide-caption h1 {
		font-size: 28px;
	}
}


@media (max-width: 1015px){
	.slide-caption .content-caption p {
		padding: 0 10%;
	}
	.service-item {
		margin-bottom: 30px;
	}
	#what-we-do .right-image {
		margin-top: 60px;
	}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;
	}
	.fact-item {
		margin-bottom: 15px;
	}
	.map {
		margin-bottom: 45px;
	}
}